.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
}

.slider::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgb(0 0 0 / 0%) 0%, #000 100%);
  pointer-events: none;
  z-index: 1;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.content {
  color: #fff;
  z-index: 2;
  padding: calc(32px + var(--header-height)) 97px
    calc(32px + var(--footer-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-weight: 500;
  margin: 0 0 16px;
  line-height: 100%;
}

.description {
  font-size: 24px;
  font-weight: 300;
  margin: 0 0 32px;
  max-width: 688px;
  font-family: Roboto, sans-serif;
  line-height: 100%;
  letter-spacing: 0%;
  color: var(--color-grey-light);
}

.dots {
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px;
  z-index: 2;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--color-grey-light);
  border: none;
  opacity: 1;
}

.active-dot {
  background-color: var(--color-primary);
}

.slide-button {
  width: min-content;
}
