.location {
  display: grid;
  flex-direction: column;
  font-family: Roboto, sans-serif;
  gap: 16px;
}

.map-label {
  color: var(--color-primary-black);
  margin: 24px 0 12px;
}

.map {
  width: 100%;
  max-width: 700px;
  height: 340px;
  background: var(--color-grey-light);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-grey-dark);
}
