.page {
  display: grid;
  grid-template-columns: 64px 1fr;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 32px 60px 0;
  box-sizing: border-box;
  overflow: hidden;
}

.body {
  display: grid;
  grid-template-columns: 1fr minmax(360px, 30%);
  flex: 1;
  min-height: 0;
}

.main {
  padding: 32px 32px 32px 0;
  overflow-y: auto;
}

@media (width <= 1024px) {
  .body {
    grid-template-columns: 1fr;
  }
}

@media (width <= 600px) {
  .content {
    padding: 16px 16px 0;
  }
}
