.button {
  width: 42px;
  height: 32px;
  padding: 0;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  --burger-icon-url: url('src/assets/icons/menu-btn.svg');

  display: block;
  width: 42px;
  height: 32px;
  background-color: white;
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-image: var(--burger-icon-url);
}

@media (width <= 600px) {
  .icon {
    background-color: var(--color-primary-black);
  }
}
