.button {
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  display: block;
  width: 42px;
  height: 32px;
  color: white;
}

@media (width <= 1024px) {
  .button {
    width: 42px;
  }
}

@media (width <= 600px) {
  .icon {
    color: var(--color-primary-black);
  }
}
