.button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 8px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}

.small {
  width: 164px;
  height: 48px;
}

.medium {
  width: 250px;
  height: 48px;
}

.large {
  width: 320px;
  height: 48px;
}

.green {
  background: linear-gradient(90deg, var(--color-primary) 0%, #039f67 100%);
}

.button.green:not(.loading, .disabled):hover {
  background: linear-gradient(90deg, #0b934a 0%, #026e47 100%);
}

.button.green:not(.loading, .disabled):focus-visible {
  background: linear-gradient(90deg, #0b934a 0%, #026e47 100%);
}

.button.green:not(.loading, .disabled):active {
  background: linear-gradient(90deg, #076432 0%, #013c27 100%);
}

.blue {
  background: linear-gradient(90deg, #132949 0%, #0c7b67 100%);
}

.red {
  background: linear-gradient(90deg, #493013 0%, #7b0c3b 100%);
}

.purple {
  background: linear-gradient(90deg, #281349 0%, #720c7b 100%);
}

.disabled {
  background: var(--color-grey-light);
  cursor: not-allowed;
}

.loading {
  background: linear-gradient(90deg, var(--color-primary) 0%, #039f67 100%);
  cursor: not-allowed;
}

.loader {
  border: 3px solid #f5f6f8;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border-left-color: transparent;
  animation: loader 2s linear infinite;
}

@keyframes loader {
  100% {
    transform: rotate(360deg);
  }
}
